version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pokemon-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - SERVER_PORT=3000
    restart: unless-stopped
